	<br>
	<div class="container flex justify-center ">

		<h1 class="text-3xl text-cyan-500">Edit Blog</h1>

	</div>
	<br>
{{ form_start(form) }}
<div>
	{{ form_label(form.title, "title",{'label_attr' : { 'class':'sr-only'}}) }}
	{{ form_errors(form.title) }}
	{{ form_widget(form.title ,{'attr' : {'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', 'placeholder': 'title'  }}) }}
</div>
<div>
	{{ form_label(form.content, "content",{'label_attr' : { 'class':'sr-only'}}) }}
	{{ form_errors(form.content) }}
	{{ form_widget(form.content ,{'attr' : {'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm', 'placeholder': 'content'  }}) }}
</div>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
