{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ blog.author.NickName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>

        {{ include('blog/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
