{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<br>
	<center>
		<div class="container flex justify-center ">

			<h1 class="text-3xl text-cyan-500">Article
			</h1>

		</div>
	</center>
	<br>
	<div class="container flex justify-center mx-auto">
		<div class="flex flex-col">
			<div class="w-full">
				<div class="border-b border-gray-200 shadow">
					<table class="divide-y divide-gray-300 ">
						<thead class="bg-gray-50">
							<tr>
								<th class="px-6 py-2 text-xs text-gray-500">
									Rank
								</th>
								<th class="px-6 py-2 text-xs text-gray-500">
									Description
								</th>
								<th class="px-6 py-2 text-xs text-gray-500">
									Link
								</th>
								{% if is_granted('ROLE_ADMIN') %}
									<th class="px-6 py-2 text-xs text-gray-500">
										Modifier
									</th>
								{% endif %}
								<th class="px-6 py-2 text-xs text-gray-500">
									Détail
								</th>
								<th class="px-6 py-2 text-xs text-gray-500">
									Supprimer
								</th>
								<th class="px-6 py-2 text-xs text-gray-500">
									rate
								</th>
							</tr>
						</thead>
						<tbody class="bg-white divide-y divide-gray-300">
							{% for article in articles %}
								<tr class="whitespace-nowrap">
									<td class="px-6 py-4 text-sm text-gray-500">
										{{ article.id }}
									</td>
									<td class="px-6 py-4">
										<div class="text-sm text-gray-900">
											{{ article.titre }}
										</div>
									</td>
									<td class="px-6 py-4">
										<div class="text-sm text-gray-500">
											<a href="{{ article.link }}">{{ article.link }}</a>
										</div>
									</td>
									{% if is_granted('ROLE_ADMIN') %}
										<td class="px-6 py-4">
											<a href="{{ path('article_edit', {'id': article.id}) }}">
												<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400" fill="none" viewbox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
												</svg>
											</a>
										</td>
									{% endif %}
									<td class="px-6 py-4">
										<a href="{{ path('article_show', {'id': article.id}) }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewbox="0 0 16 16">
												<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
												<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
											</svg>
										</a>
									</td>
									<td class="px-6 py-4">
										<a href="{{ path('article_delete', {'id': article.id}) }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
												<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
											</svg>
										</a>
									</td>
									<td class="px-6 py-4 text-sm text-gray-500">

										<a href="/article/vote/{{article.id}}/+">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewbox="0 0 16 16">
												<path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
											</svg>
										</a>

										{{ article.rate }}

										<a href="/article/vote/{{article.id}}/-">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewbox="0 0 16 16">
												<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
											</svg>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded">
				<a href="{{ path('article_new') }}">Create new</a>
			</button>


		</div>
	</div>
{% endblock %}
