{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

	<br>
	<center>
	<div class="container flex justify-center ">

		<h1 class="text-3xl text-cyan-500">Article</h1>

	</div>
	</center>
	<br>
	<div class="container flex justify-center mx-auto">
		<div class="flex flex-col">
			<div class="w-full">
				<div class="border-b border-gray-200 shadow">
					<table class="divide-y divide-gray-300 ">
						<tbody></tbody>
						<thead class="bg-gray-50">
							<tr class="whitespace-nowrap">
								<th class="px-6 py-4 text-sm text-gray-500">Id</th>
								<td>{{ article.id }}</td>
							</tr>
							<tr class="whitespace-nowrap">
								<th class="px-6 py-4 text-sm text-gray-500">Titre</th>
								<td>{{ article.titre }}</td>
							</tr>
							<tr class="whitespace-nowrap">
								<th class="px-6 py-4 text-sm text-gray-500">Link</th>
								<td><a href="{{article.link}}">{{ article.link }}</a></td>
							</tr>
							<tr class="whitespace-nowrap">
								<th class="px-6 py-4 text-sm text-gray-500">Rate</th>
								<td>{{ article.rate }}</td>
							</tr>
						</thead>
					</tbody>
				</table>
			</div>
		</div>


		{# <center>
			<button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded">
				<a href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
			</button>
		</center>
		<center>
			{{ include('article/_delete_form.html.twig') }}
		</center> #}
		<center>
			<button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded">
				<a href="{{ path('article_index') }}">Back to list</a>
			</button>
		</center>
	</div>
</div>{% endblock %}
